*{
    font-family: "poppins", sans-serif;
    box-sizing:   border-box;
    padding: 0;
    margin: 0;
}
body{
    background : #222
}
.card{
    display:flex;
    justify-content: center;
    background: linear-gradient(135deg, #524ae8, #efd2d2);/* light blue  is purple idk looks cool gradient */;
    border-radius: 20px;
    width: 90%;
    max-width: 470px;/* keep the card from getting too wide on large screens */;
    margin: 100px auto 0; /* centering the card with some top and bottom margin */;
}
.search{
    margin: 70px ;
    padding-left: 30px;
    padding-right: 50px;
    color:#4c1265;
    justify-content: space-between;
    background: linear-gradient(135deg, #524ae8, #efd2d2);/* light blue  is purple idk looks cool gradient */;
    border-radius:20px;
    width: 100%;
}
.search input{
    border-radius: 20px;
    border: 0;
    justify-content: center;
    padding: 10px 10px;
    height: 45px;
    width: 250px;
    font-size: 18px;
    justify-content: space-between;
    text-align: center;
    margin-left:70px;
    flex: 1;
    margin-bottom: 30px;
   
      
}

.search button{
    border-radius: 20px;
    height: 60px;
    
}
.search button imga{
    width: 20px;
}
.weather{
     display: flex;
     flex-direction: column;/* stack items vertically */
     align-items: center;
     justify-content: center;
     gap: 8px;
     margin: 0 auto;
     text-align: center;
    
}

.weather img{
    height: 150px;
    display: block;
    margin: 0;
    margin-right:20px;
}

.weather div > p{
    font-size: 25px;
    font-family: "poppins", sans-serif;
}
.temperature{
    font-size: 65px;
    font-weight: 600;
    margin: 10px 0;
}
.description{
     font-size: 65px;
    font-weight: 600;
    margin: 10px 0;
}
.details{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;

}
.col{
    display: flex;
   text-align: left;
    align-items: left;
}
.col img{
    width: 50px;
    margin-right: 60px;
    height: auto;
    margin-left:20px;

}
.col div p{
    font-size: 28px;
    font-family: "poppins", sans-serif;
    margin-left:auto;
}